@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  color: #2c2c2c;
  font-size: 1.6rem;
  font-family: Inter, sans-serif;
  line-height: 1.25;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}
a:hover {
  color: #46b20f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c2c2c;
}

ul,
ol {
  list-style: none;
}

.container {
  --container-width: 1600px;
}

.header {
  box-shadow: 0px 1.6666666269px 8.3333330154px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 0;
}
.header .logo {
  height: 99px;
}
.header .logo img {
  max-height: 100%;
  width: auto;
}
.header .header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.header .header-nav .menu ul {
  display: flex;
}
.header .header-nav .menu ul li {
  padding: 0 25px;
}
.header .header-nav .menu ul li a {
  font-weight: 600;
  padding-bottom: 54px;
}
.header .header-nav .menu ul li.active a, .header .header-nav .menu ul li:hover a {
  color: #46b20f;
  border-bottom: 1.667px solid #46b20f;
}
.header .header-nav .cart-icon {
  padding: 0 25px;
}
.header .header-nav .cart-icon a {
  position: relative;
  display: inline-block;
}
.header .header-nav .cart-icon a span {
  position: absolute;
  top: -5px;
  right: -6px;
  background: #ff6916;
  color: #fff;
  padding: 0 4px;
  border-radius: 50%;
  font-size: 1.3rem;
}
.header .header-nav .search-icon {
  padding-left: 25px;
}
.header .menu-toggle {
  display: none;
}

@media screen and (max-width: 991.98px) {
  .header .menu-toggle {
    display: flex;
    align-items: center;
  }
  .header .menu-toggle label {
    font-size: 2.5rem;
  }
  .header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .header-nav .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: #46b20f;
    padding: 20px 0;
    min-width: 250px;
    translate: -100%;
    transition: translate 0.4s ease;
  }
  .header .header-nav .menu ul {
    display: block;
  }
  .header .header-nav .menu ul li a {
    color: #fff !important;
    border: 0 !important;
    display: block;
    padding: 10px 0;
  }
  .header .header-nav .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5725490196);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease;
    transition-property: opacity, visibility;
  }
  .header .header-nav input[type=checkbox]:checked ~ .menu {
    translate: 0;
  }
  .header .header-nav input[type=checkbox]:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .header .header-nav .search-icon {
    padding-left: 0;
  }
}
.home-page {
  margin: 0px auto;
  overflow: hidden;
}
.home-page .container .row {
  margin-bottom: 100px;
  align-items: center;
}
.home-page .container .row .col-6 .introduction-container {
  margin-left: 50px;
}
.home-page .container .row .col-6 .introduction-container .title-1 {
  font-size: 3.6667rem;
  font-weight: 800;
  line-height: 4.8225rem;
}
.home-page .container .row .col-6 .introduction-container .title-2 {
  font-size: 4.3333rem;
  font-weight: 800;
  line-height: normal;
  font-style: normal;
  max-width: 60%;
}
.home-page .container .row .col-6 .introduction-container p {
  font-size: 1.6rem;
  max-width: 449.167px;
  font-weight: 400;
}
.home-page .container .row .col-6-height {
  z-index: -1;
  transform: translateX(5%);
  max-width: 775.833px;
  max-height: 708.333px;
}
.home-page .container .row .col-6-height .background-img {
  transform: translateX(16%);
  display: flex;
  border-radius: 16.667px 0px 0px 16.667px;
  background: #DCFFCA;
  width: 40vw;
  position: relative;
  align-items: center;
  height: 708.333px;
}
.home-page .container .row .col-6-height .background-img .chopsticks {
  transform: translateX(-30%);
  max-width: 471.381px;
  max-height: 476.695px;
}
.home-page .container .row .col-6-height .background-img .chopsticks img {
  height: 100%;
  width: 100%;
}
.home-page .container .row .col-6-height .background-img .greenchop {
  transform: translateX(-30%);
  line-height: 16.6667rem;
}
.home-page .container .row .col-12 .container-introduce-information {
  margin: 0px auto;
  text-align: center;
}
.home-page .container .row .col-12 .container-introduce-information h1 {
  max-width: 40%;
  line-height: 4.1649rem;
  margin: 0px auto;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 3.1667rem;
}
.home-page .container .row .col-12 .container-introduce-information p {
  max-width: 643.333px;
  max-height: 44.167px;
  font-weight: 400;
  line-height: 2.0417rem;
  margin: 0px auto;
  margin-bottom: 40px;
}
.home-page .container .row .col-12 {
  margin-top: 80px;
}
.home-page .container .row .col-12 .row {
  width: 78%;
  margin: 0px auto;
  justify-content: center;
}
.home-page .container .row .col-12 .row .col-3 {
  padding: 0;
}
.home-page .container .row .col-12 .row .col-3 .inside-col3 {
  border-radius: 3.333px;
  background: #FFF;
  box-shadow: -5.8333330154px 8.3333330154px 72.5px 0px rgba(54, 54, 54, 0.12);
  width: 294.167px;
  height: 337.5px;
}
.home-page .container .row .col-12 .row .wrapper-logo, .home-page .container .row .col-12 .row .wrapper-logo-4 {
  display: block;
  width: 83.333px;
  height: 83.333px;
  border-radius: 10px;
  background: #FFF0E7;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  transform: translateY(30px);
}
.home-page .container .row .col-12 .row .number {
  font-size: 4.3333rem;
  font-weight: 800;
  margin-left: 30px;
  display: block;
  transform: translateY(50px);
}
.home-page .container .row .col-12 .row .introduction {
  font-weight: 400;
  line-height: 3.0833rem;
  font-size: 2rem;
  margin-left: 30px;
  transform: translateY(90px);
}
.home-page .container .row .col-12 .row .wrapper-logo-4 {
  background-color: #F2FFEC;
  transform: translateY(57px);
}
.home-page .container .row .col-12 .row .col-4 {
  padding: 0;
}
.home-page .container .row .col-12 .row .col-4 .inside-col4 {
  border-radius: 3.333px;
  margin: 0px auto;
  background: #FFF;
  box-shadow: -5.8333330154px 8.3333330154px 72.5px 0px rgba(54, 54, 54, 0.12);
  width: 342.5px;
  height: 392.5px;
}
.home-page .container .row .col-12 .row .col-4 .inside-col4 .number {
  transform: translateY(77px);
}
.home-page .container .row .col-12 .row .col-4 .inside-col4 .introduction {
  transform: translateY(117px);
}
.home-page .container .row .inside-col3-before {
  position: relative;
}
.home-page .container .row .inside-col3-before::before {
  content: "";
  background-image: url(/images/Ellipse\ 5.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -120px;
  left: -120px;
  z-index: -1;
}
.home-page .container .row .inside-col3-after {
  position: relative;
}
.home-page .container .row .inside-col3-after::after {
  content: "";
  background-image: url(/images/Ellipse\ 6\ \(1\).png);
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  right: -200px;
  bottom: -210px;
  z-index: -1;
}

.col-12 .title-product, .col-12 .title-news {
  text-align: center;
  font-size: 3.16667rem;
  font-weight: 800;
  line-height: 4.1649rem;
  margin-bottom: 40px;
}
.col-12 .row .col-4 .product img {
  width: 240.117px;
  height: 241.148px;
  position: absolute;
  bottom: -80px;
}
.col-12 .row .col-4 .product .background-img-orange, .col-12 .row .col-4 .product .background-img-green {
  margin: 0 auto;
  width: 269.316px;
  height: 269.316px;
  border-radius: 269.316px;
  background: #FFBA94;
  position: relative;
  display: flex;
  justify-content: center;
}
.col-12 .row .col-4 .product .background-img-green {
  background: #C5FFA8;
}
.col-12 .row .col-4 .product .info {
  text-align: center;
  margin-top: 130px;
}
.col-12 .row .col-4 .product .info h3 {
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}
.col-12 .row .col-4 .product .info h3::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 40.833px;
  right: 50%;
  transform: translateX(50%);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A3A3A3;
  stroke-width: 1.667px;
}
.col-12 .row .col-4 .product .info .number-product {
  font-size: 1.6667rem;
  font-weight: 400;
  line-height: 2.1667rem;
}
.col-12 .row .col-4 .product .info p {
  font-size: 1.6667rem;
  font-weight: 400;
  line-height: 2.1667rem;
  margin-top: 10px;
  margin-bottom: 35px;
}
.col-12 .row .col-4 .product .info p strong {
  font-size: 2.3333rem;
  font-weight: 600;
  line-height: 2.6667rem;
}
.col-12 .row .col-4 .product .info button {
  display: inline-flex;
  padding: 13.333px 11.667px;
  justify-content: center;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  background: #46B20F;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.row-width {
  width: 105%;
  margin: 0px auto;
}

.col-12 {
  text-align: center;
  align-items: center;
}
.col-12 .title-news {
  margin-bottom: 23px;
}
.col-12 .introduct-news {
  text-align: center;
  max-width: 40%;
  margin: 0px auto;
  margin-bottom: 25px;
  font-size: 1.6rem;
  font-weight: 2.0417rem;
  font-weight: 400;
}
.col-12 .row .col-4 a {
  text-align: left;
  display: block;
  max-width: 385px;
}
.col-12 .row .col-4 a .wrapper-img-news {
  max-width: 385px;
  max-height: 273.333px;
}
.col-12 .row .col-4 a .wrapper-img-news img {
  height: 100%;
  width: 100%;
}
.col-12 .row .col-4 a .news-information {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col-12 .row .col-4 a .news-information .title-lorem {
  font-size: 1.5rem;
  color: #46B20F;
  font-weight: 500;
}
.col-12 .row .col-4 a .news-information .day {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #A3A3A3;
}
.col-12 .row .col-4 a h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 26.667px;
}
.col-12 .row .col-4 a p {
  line-height: 20.417px;
  font-weight: 400;
}
.col-12 .see-more {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.col-12 .see-more .inside-see-more {
  border-radius: 6.667px;
  border: 1px solid #46B20F;
  display: flex;
  column-gap: 5px;
  font-weight: 800;
  padding: 11.667px 21.667px;
}
.col-12 .see-more .inside-see-more:hover {
  background-color: #46B20F;
  color: white;
}
.col-12 .see-more .inside-see-more:first-child {
  font-size: 2rem;
}
.col-12 .see-more .inside-see-more:last-child {
  vertical-align: middle;
}

.container-about-greenchop {
  margin: 0 auto;
}
.container-about-greenchop .title-greenchop {
  text-align: center;
  max-width: 20%;
  margin: 0 auto;
  font-size: 3.1667rem;
  line-height: 4.1649rem;
  font-weight: 800;
}
.container-about-greenchop .paragraph-greenchop {
  max-width: 30%;
  text-align: center;
  margin: 30px auto 200px auto;
  font-weight: 400;
  font-size: 1.6rem;
}
.container-about-greenchop .wrapper-chopsticks {
  display: flex;
  background-color: #FFBA94;
  height: 360.833px;
  justify-content: center;
  column-gap: 2%;
  margin: 0px auto;
}
.container-about-greenchop .wrapper-chopsticks .info-chopsticks {
  transform: translateY(-120px);
  max-width: 345.833px;
  height: 359.167px;
  border-radius: 8.333px;
  background: var(--white, #FFF);
}
.container-about-greenchop .wrapper-chopsticks .info-chopsticks h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 26.667px;
  color: #E05000;
  text-shadow: 0px 3.3333332539px 3.3333332539px 0px rgba(0, 0, 0, 0.25);
  margin-left: 5%;
  width: 90%;
  margin: 5px auto;
}
.container-about-greenchop .wrapper-chopsticks .info-chopsticks p {
  font-weight: 400;
  line-height: 20.417px;
  color: #19191B;
  width: 90%;
  margin: 0 auto;
}

.container .about {
  margin-top: 100px;
}
.container .about .list-info {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  justify-content: center;
  gap: 40px;
}
.container .about .list-info .inside {
  max-width: 288px;
  max-height: 131px;
  display: flex;
  column-gap: 15px;
}
.container .about .list-info .inside .article h5 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 26.667px;
}
.container .about .list-info .inside .article p {
  font-size: 1.7rem;
  font-weight: 500;
  max-width: 216.667px;
}

.container .container-form-input {
  display: flex;
  column-gap: 10%;
  justify-content: center;
  padding: 80px 0;
}
.container .container-form-input .circle {
  width: 439.167px;
  height: 439.167px;
  border-radius: 439.167px;
  background-color: #FFF0E7;
  position: relative;
}
.container .container-form-input .circle img {
  position: absolute;
  top: -15%;
  left: -10%;
  width: 451.667px;
  height: 380.833px;
}
.container .container-form-input .form-input {
  max-width: 573.334;
}
.container .container-form-input .form-input .input-name {
  display: inline-flex;
  padding: 13.333px 0 13.333px 0;
  width: 100%;
  border-radius: 6.667px;
  border: 0.833px solid var(--grey-500-main, #A3A3A3);
}
.container .container-form-input .form-input .input-email-number-phone {
  width: 286.667px;
  padding: 13.333px 176.667px 13.333px 13.333px;
  border-radius: 6.667px;
  border: 0.833px solid var(--grey-500-main, #A3A3A3);
}
.container .container-form-input .form-input .input-message {
  padding: 13.333px 0 0 13.333px;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
